@page "/"

@inherits LayoutComponentBase

@inject StateContainer service2

@namespace Login
<PageTitle>Login</PageTitle>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="Login.razor.css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'
        type='text/css'>
</head>

<body>
    <div class="container">

        @if(service2.usuario is null){
        
            <form class="formulario" action="#" method="post">
                <label for="email"></label>
                <input type="email" id="text" name="nome" required placeholder="Nome" @bind = "nome">

                <label for="password"></label>
                <input type="password" id="password" name="password" required placeholder="Senha" @bind = "senha" >

                @*<a class="esqueceuSenha" href="#">esqueceu sua senha</a>*@

                <div class="buttons">
                    <button class="button btn1" type="submit" @onclick = "FazerLogin" >Login</button>
                    @*<button class="button btn2" type="submit">Cadastre-se</button>*@
                    
                
                </div>
            </form>

        }

        else{
            <NavLink href = "/principal" class="button btn2" style = "display:block; height:150px; text-align:center; padding:10%; width:300px; background-color:white; border-radius:40px; font-weight:bold; font-size:140%;" >Ir para a tela de postagens</NavLink>
        }

    </div>
    <div>
        <span style = "font-size:200%;">@mensagem</span>
    </div>
   
    @Body

</body>

@code {

    public string nome = "";
    public string senha = "";

    public string mensagem = "";

    Usuario usuario = new Usuario();

    private async Task FazerLogin()
    {
        if((nome.Equals(usuario.Nome)) && (senha.Equals(usuario.Senha)) ){
            service2.AtualizaValor(usuario);
            mensagem = "Você agora está logado.";
        }
        else{
             mensagem = "senha ou nome incorretos!";
        }
        
    }

    

}