
textarea { resize: none; }

article{
  margin:0px;
  padding:0px;
  border:0px;
}


.configuracoes {

    position:absolute;
    top:0;
    right:0;

    padding:5px;

    background-color: #fbeeee;
    width: 9.2vw;
  }
  
  .configuracoes .box-config {
    color: #50A5B7;
    width: 100%;
  }

body{
  margin:0px;
  padding:0px;
}

.tela{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;

  width:100%;
  min-height:1000px;

  background-color:#FBEEEE;

  margin:0px;
  padding:0px;
  border:0px;
}
.bloco1{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  width:12%;

  padding:40px 50px;
  border-right:1px solid black;
  margin:0px;

  color:white;
  background-color:#50A5B7;

  
}
  .tag{
      text-align:center;

      padding:3px 20px;            
      border-radius:10px;
      margin:8px 0px;

      color:#50A5B7;
      background-color:#D9D9D9;
  }

  .tag:hover{
      cursor:pointer;
      font-weight:bold;
  }

  .title_nav{
      
      font-size:136%;
      text-align:center;

      padding-bottom:20px;

      background-color:#50A5B7;
  }


.bloco2{
  display:flex;
  width:88%;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;

  background-color:inherit;
}

.bloco21{

  display:flex;
  flex-direction:column;
  justify-content:flex-start;     
  align-items:stretch;
  align-content:stretch;      
  width:60%;
  height:400px;

  padding:10px 40px;
  border:0px;
  margin:0px;

  color:#50A5B7;

  background-color:inherit;        

}   


  .bloco2_title{
      text-align:center;
  }

  .bloco_pesquisa{
      display:flex;
      flex-direction:row;
      gap:5px;
      min-width:100%;

      margin-bottom:25px;
      
  }

      .barra{

          display:block;

          flex:1;

          background-color:#D9D9D9;
          color:#0e6172;
          border:none;
          border-radius:8px;
          padding:5px;
          

      }
      
      .barra:focus{
          outline:none;
      }

      .barra::placeholder{
          color:#50A5B7;
      }

      .pesquisar{

          display:block;

          padding:2px 4px;
          border:none;
          border-radius:8px;

          text-align:center;

          color:white;
          background-color:#50A5B7;
          
      }
      .pesquisar:hover{
          font-weight:bold;
      }

      .input{
          border:0px;
      }


  .bloco_postagem{
      flex:1;

      display:flex;
      flex-direction:column;   

      width:100%;
      min-height:300px;         

      padding:2px 2px 30px 2px;  
      border-radius:8px;

      background-color:#D9D9D9;
      color:#0e6172;
  } 
      .bloco_postagem_texto{

          display:flex;
          
          width:100%;            
          height:80%;         

          border:none;
          border-radius:inherit;
          background-color:inherit;
          color:inherit;
      } 

      .bloco_postagem_texto:focus{
          outline:none;
      }  
          

      .bloco_postagem_texto::placeholder{
          color:#50A5B7;
          text-align:start;
          padding-top:0px;
      }


      .bloco_postagem_arquivo{
          height:20%;

          display:flex;
          justify-content:flex-end;   

          margin:10px;            
      }
          .bloco_postagem_arquivo_button{

              display:block;

              padding:2px;
              width:40px;
              height:40px;

              background-color:inherit;
              color:inherit;
              border:inherit;
              padding:inherit;
              margin:inherit;

              border-radius:50%;
              background-color:black;

          }
          .bloco_postagem_arquivo_button:hover{
              cursor:pointer;
          }

  .publicar{

      border:none;
      border-radius:8px;
      padding:2px;
      margin-top:8px;
      max-width:100px;


      background-color:#D9D9D9;
      color:#50A5B7;
      text-align:center;

  }        

  .publicar:hover{
      font-weight:bold;
  }

  .bloco_para_postagem{
      display:block;

      margin-top:100px;
  }

      .bloco_postagem_feita{  

          display:flex;
          flex-direction:column;         
        
      }

          .bloco_postagem_feita_user{
              display:flex;
              flex-direction:row;
              flex-wrap:nowrap;
              justify-content:space-between;

              padding:8px;
              
              


          }   
              .bloco_postagem_feita_user_esquerda{
                  display:flex;
                  flex-wrap:nowrap;
              }

              .bloco_postagem_feita_user_image{
                  height:50px;
                  width:50px;

                  
                  background-color:black;
                  border-radius:50%;
              }

              .bloco_postagem_feita_user_name{
                  font-size:200%;
                  font-weight:bold;
              }

          .buttons{
              color:white;
              display:flex;
              
              margin:10px;
          }

          
              .button_editar{
                  padding:2px 4px;
                  margin:1px 2px;

                  height:30px;
                  width:60px;
                  border-radius:8px;
                  background-color:#69d2e7;

                  text-align:center;
              }   
              .button_editar:hover{
                  cursor:pointer;
                  font-weight:bold;


                  height:31px;
                  width:65px;
              }

              .button_excluir{

                  padding:2px 4px;
                  margin:1px 2px;

                  height:30px;
                  width:60px;
                  border-radius:8px;
                  background-color:#fc2911;

                  text-align:center;

              }
              .button_excluir:hover{
                  cursor:pointer;
                  font-weight:bold;

                  height:31px;
                  width:65px;
              }

              .button_cancelar_edicao{
                padding:2px 4px;
                margin:1px 2px;

                height:30px;
                width:140px;
                border-radius:8px;
                background-color:#fc2911;

                text-align:center;
              }
              .button_cancelar_edicao:hover{
                
                cursor:pointer;
                font-weight:bold;

                height:31px;
                width:142px;

              }

              .button_salvar_alteracoes{

                padding:2px 4px;
                margin:1px 2px;

                height:30px;
                width:140px;
                border-radius:8px;
                background-color:#16d456;

                text-align:center;

              }

              .button_salvar_alteracoes:hover{
                cursor:pointer;
                  font-weight:bold;
                  height:31px;
                  width:142px;
              }



          
          .bloco_postagem_feita_texto{
              text-align:left;            
                                              
              min-height:100px;
  
              margin-top:80px;
              padding:2px;
  
              border:2px solid gray;
              border-radius:8px;
      
              background-color:#D9D9D9;
              color:#0e6172;
          } 

          .bloco_postagem_feita_texto2{            
            
            overflow-wrap: break-word;
            white-space: pre-wrap;
          
          }    

  .bloco_texto_apresentando_postagens_buscadas{
    margin-top:20px; 
  }        
    .texto_apresentando_postagens_buscadas{
      font-size:140%;
      font-weight:bold;
      color:gray;
    }     




           
        
           
            
          

             


          
