/* _content/TrabConteudoAcademico/Pages/Login.razor.rz.scp.css */
/* Definindo variáveis */
:root[b-logm6pimnc] {
  --cor-primaria: #50a5b7;
  --cor-secundaria: #d9d9d9;
  --tamanho-fonte: 16px;
}

*[b-logm6pimnc] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body[b-logm6pimnc] {
  width: 100%;
  height: 100vh;
  background-color: #ceedf3;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.container[b-logm6pimnc] {
  width: 400px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario[b-logm6pimnc] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
}

input[b-logm6pimnc] {
  width: 100%;
  margin-block: 7px;

  border-radius: 8px;

  padding: 8px 15px;
  outline: none;
  background-color: #50a5b7;
  border: 2px solid black;
  color: white;
}

input[b-logm6pimnc]::placeholder {
  color: white;

  font-size: 16px;
}

.esqueceuSenha[b-logm6pimnc] {
  font-size: 14px;
  color: black;
  margin-left: auto;
}

.buttons[b-logm6pimnc] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.buttons button[b-logm6pimnc] {
  border-radius: 8px;
  background-color: #50a5b7;
  color: white;
  font-size: 16px;

  padding: 5px 10px;
  transition: transform 0.3s ease;
}

.buttons button:hover[b-logm6pimnc] {
  transform: scale(1.1);
}

.buttons .btn1[b-logm6pimnc] {
  width: 40%;
  outline: none;
  border: none;
  cursor: pointer;
}

.buttons .btn2[b-logm6pimnc] {
  width: 55%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #0e6172;
}
/* _content/TrabConteudoAcademico/Pages/Principal.razor.rz.scp.css */
:root[b-fy11e2y5pz] {
  --cor-primaria: #50a5b7;
  --cor-secundaria: #d9d9d9;
  --tamanho-fonte: 16px;
}

*[b-fy11e2y5pz] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body[b-fy11e2y5pz] {
  width: 100%;
  height: 100vh;

}

.container-principal[b-fy11e2y5pz] {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.menu-tags[b-fy11e2y5pz] {
  height: 100%;
  width: 15vw;
  background-color: #50a5b7;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.menu-tags .logo[b-fy11e2y5pz] {
  text-align: center;

  margin-top: 50px;
  margin-bottom: 60px;
  color: #d9d9d9;
  text-transform: uppercase;
}

.menu-tags h3[b-fy11e2y5pz] {
  color: #d9d9d9;
  font-size: 28px;
  margin-bottom: 20px;
}

.menu-tags .tags[b-fy11e2y5pz] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-tags .tags a[b-fy11e2y5pz] {
  margin-block: 10px;
  border: 1px solid;
  background-color: #ceedf3;
  border-radius: 12px;
  padding: 5px 30px;
}

.configuracoes[b-fy11e2y5pz] {
  background-color: #fbeeee;
  width: 9.2vw;
}

.configuracoes .box-config[b-fy11e2y5pz] {
  color: #50A5B7;
  width: 100%;
}

.secao-postagens[b-fy11e2y5pz] {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fbeeee;

  height: 100%;
  width: 75vw;
}

.secao-postagens h2[b-fy11e2y5pz] {
  color: #50a5b7;
  font-size: 36px;
  font-weight: bold;
  margin-block: 25px;
}

.secao-postagens .input-search input[b-fy11e2y5pz] {
  width: 40vw;
  background-color: #ceedf3;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 7px;
  color: #50a5b7;
  margin-right: 15px;
}

.secao-postagens .input-search input[b-fy11e2y5pz]::placeholder {
  color: #50a5b7;
}

.secao-postagens .input-search .search-btn[b-fy11e2y5pz] {
  color: #fff;
  background-color: #50a5b7;
  border-radius: 8px;
  cursor: pointer;
  padding: 7px 25px;
  border: none;
}

.secao-postagens .input-search.search-btn button[b-fy11e2y5pz] {
  transition: transform 0.5s ease;
}

.secao-postagens .input-search button:hover[b-fy11e2y5pz] {
  transform: scale(1.1);
}

.secao-postagens .input-search[b-fy11e2y5pz] {
  margin-bottom: 50px;
}

.secao-postagens .publicacoes-box[b-fy11e2y5pz] {
  background-color: #fbeeee;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse; /* Inverter a direção da pilha */
  align-items: center;
}

.secao-postagens .publicacao[b-fy11e2y5pz] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-right: 290px;
  background-color: #fbeeee;
  margin-bottom: 50px;
}

.secao-postagens .publicacao .perfil[b-fy11e2y5pz] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  margin-left: 40px;
}

.secao-postagens .publicacao .perfil img[b-fy11e2y5pz] {
  background-color: #50a5b7;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 20px;
  margin-bottom: 7px;
}

.secao-postagens .publicacao .post[b-fy11e2y5pz] {

  width: 40vw;
  display: flex;
  flex-direction: column;
}

.secao-postagens .publicacao .post textarea[b-fy11e2y5pz] {
  background-color: #ceedf3;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #50A5B7;
  padding: 7px;
  margin-bottom: 5px;
}

.secao-postagens .publicacao .post textarea[b-fy11e2y5pz]::placeholder {
  color: #50A5B7;
}

.secao-postagens .publicacao .post label[b-fy11e2y5pz] {
  background-color: #50A5B7;
  width: 8vw;
  border-radius: 8px;
  padding: 5px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
}

.secao-postagens .publicacao .post .post-btn[b-fy11e2y5pz] {
  background-color: #CEEDF3;
  width: 8vw;
  border-radius: 8px;
  padding: 5px;
  color: #50A5B7;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  border: none;
  outline: none;

}

.secao-postagens .publicacao .post button[b-fy11e2y5pz] {
  transition: transform 0.7s ease;
}

.secao-postagens .publicacao .post button:hover[b-fy11e2y5pz] {
  color: #fff;
  background-color: #50a5b7;
}


.secao-postagens .publicacao .post .post-box[b-fy11e2y5pz] {
  background-color: #ceedf3;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #50A5B7;
  padding: 7px;
  margin-bottom: 5px;
}
/* _content/TrabConteudoAcademico/Shared/MainLayout.razor.rz.scp.css */
/* Reset CSS */

/* Box-sizing reset */
*[b-d11ylnvvgr],
*[b-d11ylnvvgr]::before,
*[b-d11ylnvvgr]::after {
    box-sizing: border-box;
}

/* Remove margin and padding */
body[b-d11ylnvvgr],
h1[b-d11ylnvvgr],
h2[b-d11ylnvvgr],
h3[b-d11ylnvvgr],
h4[b-d11ylnvvgr],
h5[b-d11ylnvvgr],
h6[b-d11ylnvvgr],
p[b-d11ylnvvgr],
ul[b-d11ylnvvgr],
ol[b-d11ylnvvgr],
dl[b-d11ylnvvgr],
figure[b-d11ylnvvgr],
blockquote[b-d11ylnvvgr],
fieldset[b-d11ylnvvgr],
legend[b-d11ylnvvgr] {
    margin: 0;
    padding: 0;
}

/* Remove default list styles */
ul[b-d11ylnvvgr],
ol[b-d11ylnvvgr] {
    list-style: none;
}

/* Remove default form styles */
button[b-d11ylnvvgr],
input[b-d11ylnvvgr],
select[b-d11ylnvvgr],
textarea[b-d11ylnvvgr] {
    margin: 0;
}

/* Reset anchor styles */
a[b-d11ylnvvgr] {
    text-decoration: none;
    color: inherit;
}

/* Remove default table spacing */
table[b-d11ylnvvgr] {
    border-collapse: collapse;
    border-spacing: 0;
}


.page[b-d11ylnvvgr] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-d11ylnvvgr] {
    flex: 1;
}

.sidebar[b-d11ylnvvgr] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-d11ylnvvgr] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-d11ylnvvgr]  a,
.top-row .btn-link[b-d11ylnvvgr] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-d11ylnvvgr] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-d11ylnvvgr] {
        display: none;
    }

    .top-row.auth[b-d11ylnvvgr] {
        justify-content: space-between;
    }

    .top-row a[b-d11ylnvvgr],
    .top-row .btn-link[b-d11ylnvvgr] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-d11ylnvvgr] {
        flex-direction: row;
    }

    .sidebar[b-d11ylnvvgr] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-d11ylnvvgr] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-d11ylnvvgr],
    article[b-d11ylnvvgr] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
